.overlaids {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; /* Adjust the width as needed */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust z-index as needed */
  }
  
  .overlaids h1 {
    margin: 0;
  }
  