.ProjectCreate-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 95%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }
  
  .projectform-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Increased gap for better spacing */
    flex-grow: 1;
  }
  
  .projectfield-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Increased gap for better spacing */
    flex-grow: 1;
    padding: 10px;
    max-height: 60vh;
    overflow-y: auto; /* Changed from scroll to auto */
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-button {
    margin-top: auto;
  }
  
  /* Media query for responsiveness */
  @media only screen and (max-width: 900px) {
    .ProjectCreate-container {
      padding: 10px; /* Reduced padding for smaller screens */
      height: auto; /* Adjusted height to fit content */
    }
  
    .projectform-container {
      gap: 5px; /* Reduced gap for smaller screens */
    }
  
    .projectfield-container {
      gap: 5px; /* Reduced gap for smaller screens */
      padding: 5px; /* Reduced padding for smaller screens */
    }
  }
  