.ProjectCreate-container{
    margin-top: 20px;
    margin-right: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh;
   
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;

}
.projectform-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
    
}
.projectfield-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
    padding: 10px;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-button{
    margin-top: auto;
}