.reminder-container{
    padding: 10px;
    padding-top: 0px;
    
}
.reminder-holder{
    height: 20vh;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.reminder-holder ul{
    margin: 0px;
    padding: 0;
}
.reminder-holder li{
    list-style: none;
    width: 100%;
}
.reminder{
    
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.rem-font{
    font-weight: bold;
}