.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px; /* Width of sidebar when open */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    
    
}

.sidebar-container.close {
    width: 50px; /* Width of collapsed sidebar */
}


.side-menu {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    color: white;
}

.side-menu ul {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-menu li {
    list-style: none;
    font-size: 20px;
    padding-bottom: 10px;
   
}

.span-hide {
    /* Hide text when sidebar is closed */
    display: none;
}

.side-menu li:hover {
    background-color: #2d2c2f;
    cursor: pointer;
}

.upper-side li {
    padding-bottom: 20px;
}

.bottom-side {
    margin-top: auto;
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .side-menu li {
        font-size: medium;
    }
}

/* Add media query for responsiveness */
@media only screen and (max-width: 900px) {
    .sidebar-container {
        display: flex;
       
        background-color: black;
        min-width: 100%;
        width: 100%; /* Width of sidebar when open */
        transition: width 0.3s ease; /* Add transition for smooth animation */
        
    }

    .upper-side{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: small;
        gap: 3px;
    }
    .bottom-side{
        display: none;
    }
}