.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px; /* Width of sidebar when open */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    
}

.sidebar-container.close {
    width: 50px; /* Width of collapsed sidebar */
}


.side-menu {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    color: white;
}

.side-menu ul {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-menu li {
    list-style: none;
    font-size: 20px;
    padding-bottom: 10px;
   
}

.span-hide {
    /* Hide text when sidebar is closed */
    display: none;
}

.side-menu li:hover {
    background-color: #2d2c2f;
    cursor: pointer;
}

.upper-side li {
    padding-bottom: 20px;
}

.bottom-side {
    margin-top: auto;
}


