.Dashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
.top{
    min-height: auto;
}
.main  {
    display: flex;
    flex-grow: 1;
    background-color: white;
    min-height: auto;
    min-width: auto;
}