/* Dashboard.css */
.Dashboard {
    display: flex;
    flex-direction: column;
   height: 100vh;
    background-color: white;
}

.top {
    min-height: auto;
}

.main {
    display: flex;
    flex-grow: 1;
    background-color: white;
    min-height: auto;
    min-width: auto;
}

/* Add media query for responsiveness */
@media only screen and (max-width: 900px) {
    .Dashboard {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
    }
}